.c-tolerance {
    position: absolute;
    z-index: -1;
    background: aliceblue;
    top: -66.5px;
  }
  
  .single-tolerance {
    font-size: 18px;
  
  }
  
  .single-tolerance:hover {
    background: #cce7ff;
  }