.gold {
    background: -moz-linear-gradient(-45deg, rgba(254,251,234,1) 0%, rgba(241,213,53,1) 52%, rgba(254,251,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(254,251,234,1) 0%,rgba(241,213,53,1) 52%,rgba(254,251,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(254,251,234,1) 0%,rgba(241,213,53,1) 52%,rgba(254,251,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
  
.silver {
    background: -moz-linear-gradient(-45deg, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.none::before {
    content: '\274c';
    font-size: 10px;
    position: relative;
    top: 0.5px;
    left: 7.5px;
    color: red;
    display: flex;
    align-self: center;
}
  
.none-strip {
    border-left: 1px solid #ffe1b4;
    border-right: 1px solid #ffe1b4;
}