.band {
  display: inline-block;
  width: 30px;
  height: 118px;
}

div {
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

.single-color {
  display: flex;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
  height: 20px;
  width: 25px;
  margin: 2px 2px;
  opacity: 0.8;
}

.single-color:hover {
  opacity: 1.0;
}

.color-picker {
  background: white;
  display: flex;
  z-index: 1;
  position: absolute;
  width: 175px;
  height: 55px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  border: 1px solid black;
  border-radius: 2%/5%;
}

.resistor {
  display: flex;
  margin: 25vh 0 13vh 0;
  justify-content: center;
  align-items: center;
}

.color-input {
  background-color: aliceblue;
  border: 0px solid;
  display:flex;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  height: 50px;
}

.color-input:focus {
  outline: none;
}

.color-input::selection {
  background: #cce7ff;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ohm-symbol {
  font-size: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 15px;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.resistor-end {
  background-color: blanchedalmond;
  justify-content: center;
  display: flex;
  width: 70px; 
  height: 150px; 
  border-radius: 20px 20px 20px 20px;
}

.resistor-end .band {
  display: flex;
  height: 148px;
}

.resistor-mid {
  padding: 0 30px 0 20px;
  display: flex;
  background-color: blanchedalmond;
  height: 120px;
}

.multiplier {
  margin-left: 20px;
}

.pin {
  display: flex;
  width: 100px;
  height: 20px;
  background-color: grey;
}

.pin-left {
  border-radius: 5px 0 0 5px;
}

.pin-right {
  border-radius: 0 5px 5px 0;
}

body {
  background-color: aliceblue;
}

.tolerance {
  font-size: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.tolerance::before {
  content:  '±';
  font-size: 30px;
  transform: translateY(-3px);
  margin-right: 5px;
}

.tolerance:hover {
  background: #cce7ff;
}

.none::before {
  content: '\274c';
  font-size: 10px;
  position: relative;
  top: 3px;
  left: 6px;
  color: red;
}

