.resistor {
    display: flex;
    margin: 28vh 0 15vh 0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }

.pin {
    display: flex;
    width: 100px;
    height: 20px;
    background-color: grey;
}

.pin-left {
    border-radius: 5px 0 0 5px;
}

.pin-right {
    border-radius: 0 5px 5px 0;
}

.multiplier {
    margin-left: 20px;
}

.resistor-end {
    background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
}

.resistor-end .band {
    height: 150px;
    display: flex;
}

.resistor-mid {
    padding: 0 30px 0 20px;
    display: flex;
    background-color: blanchedalmond;
    height: 120px;
}

body {
    background-color: aliceblue;
}
